<% include ./templates/head.ejs %>
<% include templates/navbar.ejs %>

<body>
<div class="container-fluid">
    <div class="form-group">
        <label for="sel1">Pref:</label>
        <select class="form-control" id="myselect">
            <option value="Greece">Greece</option>
            <option value="Aleksis">Aleksis</option>
            <option value="Dimitris">Dimitris</option>
        </select>
    </div>
</div>

<button class="btn btn-success" onclick="addPref()">Add Pref</button>

<script>
    function addPref(){
        $.ajax({
            url: '/user/addpref',
            data:{
                data: $( "#myselect" ).val()
            },
            type: 'POST',
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log('Σφάλμα κατά την λήψη δεδομένων', "Παρακαλώ δοκιμάστε αργότερα.", 'error');
            }
        });
    }
</script>
</body>

</html>