body {
    word-wrap: break-word;
    margin: 0 auto;
    padding-top: 5em;
    padding-right: 50px;
    text-align: justify;
}

body a:hover {
    text-decoration: none;
}

.blogShort {
    border-bottom: 1px solid #ddd;
}

.blogShort em {
    position: static;
    bottom: 0;
}

.nav-sidebar {
    max-width: 100%;
    padding: 8px 10px;
    border-right: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a {
    cursor: default;
    background-color: #34ca78;
    color: #fff;
}

.nav-sidebar .active a:hover {
    background-color: #37D980;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius: 0;
    margin-bottom: 10px
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color: #34ca78;
    border-color: #34ca78;
}

h2 {
    color: #34ca78;
}

.my-img {
    margin-bottom: 10px;
    margin-right: 10px;
}

div.center-cropped {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 420px;
    height: 280px;
    overflow: hidden;
}

div.center-cropped img {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.article-body p {
    font-size: 20px;
    line-height: 28px;
}

.hover_style {
    color: black;
    text-decoration: none;
}

.hover_style:hover {
    color: black;
    text-decoration: none;
}

article {
    border-bottom: 1px solid black;
}

article p {
    margin-bottom: .5em;
}

@media (min-width: 992px) {
    .affix {
        float: left;
        position: fixed;
    }
}

@media (max-width: 992px) {
    .affix {
        display: none;
    }
}